/* Apply these styles to ALL elements on the page */
*{
    margin: 0%; /* Remove all default outer spacing (margins) from elements */
    padding: 0%; /* Remove all default inner spacing (padding) from elements */
    box-sizing: border-box; /* Include padding and border inside the element's 
                                total width/height for easier layout control */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: orange;
}
#addNote {
    width: 200px;
    height: 180px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 44px;
    border: none;
    cursor: pointer;
}
.myNote {
    width: 200px;
    height: 140px;
    border-radius: 4px;
    background-color: #fff;    
    border: none;
    padding: 11px;
}
.myNote p {
    margin-top: 11px;
}
.note {
    display: flex;
}
.newNotes {
    display: flex;
    gap: 33px;
}
.myNote button {
    margin-top: 11px;
    width: 80px;
    height: 27px;
    background-color: orange;
    color: white;
    position: fixed;
    top: 80px; 
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.addForm {
    display: none;
    width: 300px;
    padding: 21px;
    border-radius: 3px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15); 
    top: 45%; 
}
.addForm input {
    width: 90%;
    height: 12px;
    padding: 11px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 3px;
}
.inputs {
    margin-top: 22px;
}
textarea {
    width: 92%;
    padding: 5px;
    font-size: 18px;
}
.inputs p {
    font-size: 20px;
}
#addBtn {
    width: 92%;
    height: 36px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 24px;
    margin-top: 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.head {
    /* display: flex turns .head into a flex container
    Its direct children (like buttons, headings, icons) become flex items that are laid out in a row by default */
    display: flex;

    /* Places the first child at the far left and the last child at the far right of the container */
    justify-content: space-between;
}
.head button {
    border: none;
    background-color: transparent;
    font-size: 33px;
    cursor: pointer;
}